.c3-legend-item {
  font-weight: bold;
  font-size: 15px;
}

.c3-chart-arc path {
  stroke: #3A519D;
}

.c3-chart-arc text {
  font-weight: bold;
  font-size: 20px;
}

.c3-chart-arcs-title {
  font-weight: bold;
  font-size: 13.3px;
}